name: Build sing-box (Windows & Linux)

on:
  workflow_dispatch:
    inputs:
      sing_box_repo:
        description: 'sing-box repository'
        required: true
        default: 'reF1nd/sing-box'
      sing_box_branch:
        description: 'sing-box branch'
        required: true
        default: 'reF1nd-dev'
      version:
        description: 'Version (e.g. 1.13.0-alpha.27.reF1nd)'
        required: true

jobs:
  build:
    name: Build binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - { os: windows, arch: amd64, goamd64: v3, ext: .exe }
          - { os: linux, arch: amd64, goamd64: v3, ext: '' }
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25.4

      - name: Clone sing-box
        run: |
          git clone -b ${{ github.event.inputs.sing_box_branch }} \
            https://github.com/${{ github.event.inputs.sing_box_repo }}.git \
            sing-box
          cd sing-box
          git fetch --tags https://github.com/SagerNet/sing-box.git --force

      - name: Set tag
        run: |
          cd sing-box
          git tag v${{ github.event.inputs.version }} -f

      - name: Build
        run: |
          cd sing-box
          mkdir -p dist
          go build -v -trimpath -o dist/sing-box${{ matrix.ext }} \
            -tags 'with_gvisor,with_quic,with_dhcp,with_wireguard,with_utls,with_acme,with_clash_api,with_tailscale,with_ccm,badlinkname,tfogo_checklinkname0' \
            -ldflags '-s -buildid= -X github.com/sagernet/sing-box/constant.Version=${{ github.event.inputs.version }} -checklinkname=0' \
            ./cmd/sing-box
        env:
          CGO_ENABLED: '0'
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          GOAMD64: ${{ matrix.goamd64 }}

      - name: Rename
        run: |
          cd sing-box/dist
          mv sing-box${{ matrix.ext }} sing-box-${{ github.event.inputs.version }}-${{ matrix.os }}-${{ matrix.arch }}v3${{ matrix.ext }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: sing-box-${{ matrix.os }}-${{ matrix.arch }}v3
          path: sing-box/dist/*

  combine:
    name: Combine artifacts
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - name: List files
        run: ls -la dist/

      - name: Upload combined
        uses: actions/upload-artifact@v4
        with:
          name: sing-box-${{ github.event.inputs.version }}
          path: dist/*

      - name: Delete individual artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: |
            sing-box-windows-amd64v3
            sing-box-linux-amd64v3
